.Rhistory
.Rapp.history
.RData
.Ruserdata

README.md~

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf
vignettes/*.tex
vignettes/*.bbl
vignettes/*.aux
vignettes/*.log
vignettes/*.out
vignettes/*.R
vignettes/*.blg

vignettes/jss.bst
vignettes/jss.cls
vignettes/jss.dbj
vignettes/jss.drv
vignettes/jss.dtx
vignettes/jss.ins

vignettes/gyrogroup.Rnw~

tests/*.R~
man/*.Rd~

# knitr and R markdown default cache directories
/*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md
inst/*.html
inst/*.pdf
inst/*.tex
inst/jsslogo.jpg

src/*.o
src/*.so


# cached files
inst/counterstrike_cache/
inst/counterstrike_files/
inst/formula1_cache/
inst/formula1_files/
inst/f1points_cache/
inst/f1points_files/
inst/formula1_points_cache/
inst/formula1_points_files/
inst/formula1_top9_cache/
inst/formula1_top9_files/
inst/jester_cache/
inst/jester_files/
inst/notthewinner_cache/
inst/notthewinner_files/
inst/skating_analysis_cache/
inst/skating_analysis_files/
