.Rhistory
.Rapp.history
.RData
.Ruserdata

README.md~

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf
vignettes/*.tex
vignettes/*.bbl
vignettes/*.aux
vignettes/*.log
vignettes/*.out
vignettes/*.R
vignettes/*.blg

vignettes/jss.bst
vignettes/jss.cls
vignettes/jss.dbj
vignettes/jss.drv
vignettes/jss.dtx
vignettes/jss.ins

vignettes/gyrogroup.Rnw~

tests/*.R~
man/*.Rd~

# knitr and R markdown default cache directories
inst/*_cache/
inst/cache/
inst/*_files/
inst/files/
inst/*.rda
inst/jss.*

# Temporary files created by R markdown
*.utf8.md
*.knit.md
inst/*.html
inst/*.pdf
inst/jsslogo.jpg


# temporary files created by latex:
inst/*.aux
inst/*.bbl
inst/*.blg
inst/*.out
inst/*.spl
inst/*.tex~



src/*.o
src/*.so


# cached files
inst/counterstrike_cache/
inst/counterstrike_files/
inst/formula1_cache/
inst/formula1_files/
inst/f1points_cache/
inst/f1points_files/
inst/formula1_points_cache/
inst/formula1_points_files/
inst/formula1_top9_cache/
inst/formula1_top9_files/
inst/jester_cache/
inst/jester_files/
inst/notthewinner_cache/
inst/notthewinner_files/
inst/skating_analysis_cache/
inst/skating_analysis_files/
inst/*.Rmd~
inst/doc
docs
inst/ajs.bst
inst/ajs.cls
inst/collusion_chess_draws.log
inst/collusion_chess_draws.tex
inst/figure/
inst/hankin-AustrianJournalofStatistics.log
inst/jss4832.log
inst/jss_hyper3.tex
inst/jss_hyper3_real-knitr.Rnw
inst/jss_hyper3_real-knitr.tex
inst/jss_hyper3_real.Rnw~
inst/jss_hyper3_real.log
inst/jss_hyper3_real.tex
inst/rangers_celtic.txt
inst/rangers_celtic.txt~
inst/rangers_livinston.txt
inst/rangers_livinston.txt~
inst/simplified.bib~
inst/standAloneExample.log
inst/standAloneExample.tex

