useDynLib(hyper2, .registration=TRUE)

export("B")
export("GD")
export("GD_wong")
export("Ops.lsl")
export("accessor")
export("accessor3")
export("addL")
export("addL3")
export("args2ordervec")
export("as.hyper3")
export("as.namedvectorlist")
export("as.ordertable")
export("as.suplist")
export("as.weight")
export("assign_lowlevel")
export("assign_lowlevel")
export("assigner")
export("assigner3")
export("attemptstable2supp3")
export("balance")
export("brackets")
export("char2num")
export("character_to_number")
export("cheering3")
export("choose_losers")
export("choose_winners")
export("consistency")
export("dec")
export("den3")
export("dhyper2")
export("differentiate")
export("differentiate")
export("differentiate3")
export("dirichlet")
export("discard_flawed")
export("discard_flawed2")
export("e_to_p")
export("elimination")
export("equality")
export("equality3")
export("equalp")
export("equalp.test")
export("evaluate")
export("evaluate3")
export("fillup")
export("formula1_points_systems")
export("general_grouped_rank_likelihood")
export("ggrl")
export("goodbad")
export("gradient")
export("gradientn")
export("hessian")
export("hessian")
export("home_away")
export("home_away3")
export("hyper2")
export("hyper2")
export("hyper2")
export("hyper2")
export("hyper2")
export("hyper3")
export("hyper3_add")
export("hyper3_bw")
export("hyper3_equal")
export("hyper3_nv")
export("hyper3_m")
export("hyper3_prod")
export("hyper3_to_hyper2")
export("identityL")
export("identityL3")
export("inc")
export("indep")
export("is.dirichlet")
export("is.hyper3")
export("is_ok_hessian")
export("is_ok_weightedplayers")
export("is_valid_hyper2")
export("is_valid_hyper3")
export("keep_flawed")
export("knownp.test")
export("length")
export("like_series")
export("like_single_list")
export("list2nv")
export("loglik")
export("loglik")
export("loglik_lsl")
export("loglik_single_redundant")
export("lsl")
export("lsl_add")
export("maxp")
export("maxp3")
export("maxp_lsl")
export("maxp_simplex")
export("maxp_single")
export("maxp_single2")
export("maxplist")
export("mean_hyper2")
export("mgf")
export("mult_grid")
export("num3")
export("ordertable2points")
export("ordertable2supp")
export("ordertable2supp3")
export("ordertable_to_ranktable")
export("ordertrans")
export("ordertransplot")
export("ordervec2supp")
export("ordervec2supp3")
export("ordervec2supp3a")
export("overwrite")
export("overwrite3")
export("overwrite_lowlevel")
export("overwrite_lowlevel3")
export("p_to_e")
export("pair_grid")
export("pairwise")
export("pnames")
export("pnames<-")
export("pnames<-.hyper3")
export("pnv")
export("powers")
export("powers<-")
export("print")
export("probability")
export("profile_support_single")
export("profsupp")
export("psubs")
export("psubs_single")
export("pwa")
export("race")
export("rank_likelihood")
export("ranktable_to_ordertable")
export("ranktable_to_printable_object")
export("rankvec_likelihood")
export("rdirichlet")
export("rhyper2")
export("rhyper3")
export("rorder_single")
export("rp")
export("rpair3")
export("rrace")
export("rrace3")
export("rracehyper3")
export("rrank")
export("rrank_single")
export("rwinner3")
export("saffy")
export("samep.test")
export("size")
export("setweight")
export("specificp.gt.test")
export("specificp.lt.test")
export("specificp.ne.test")
export("specificp.test")
export("sum.suplist")
export("suplist_add")
export("suplist_times_scalar")
export("tidy")
export("trial")
export("volley")
export("weights.hyper3")
export("white_draw3")
export("wikitable_to_ranktable")
export("zapweak")
export("zermelo")
export("zipf")
export(brackets)
export(hyper2_add)
export(pnames)
export(powers)
export(size)



import("Rdpack")
importFrom("Rdpack",reprompt)



importFrom(Rcpp, evalCpp)
importFrom("stats", "constrOptim","runif","rnorm","pchisq","rgamma")
importFrom("utils", "head")
importFrom("partitions","perms")
importFrom("magrittr", "%>%", "%<>%")
importFrom("cubature", "adaptIntegrate")
importFrom("graphics", "abline", "par", "text","points")

importFrom("disordR","disord")
importFrom("disordR","hashcal")
importFrom("disordR","consistent")
importFrom("disordR","elements")
importFrom("disordR","is.disord")
importFrom("disordR","lapply")

importFrom("alabama","constrOptim.nl")

importFrom("calibrator","MH")

importFrom("frab","is.namedvector")

import(methods)

S3method(brackets,hyper2)
S3method(powers,hyper2)
S3method("powers<-",hyper2)
S3method(pnames,hyper2)
S3method(pnames,suplist)
S3method("pnames<-",hyper2)

S3method(print,ranktable)
S3method(print,ranktablesummary)
S3method(print,hyper2test)

S3method("[", hyper2)
S3method("[<-", hyper2)

S3method(Ops,hyper2)
S3method(sum,hyper2)
S3method(print,hyper2)
S3method(head,hyper2)
S3method(length,hyper2)
S3method(summary,ranktable)

S3method(Ops,suplist)
S3method(sum,suplist)

S3method(Ops,lsl)

S3method("print",summary.hyper2)
S3method("summary",hyper2)

S3method(print,hyper3)
S3method("print",summary.hyper3)
S3method("summary",hyper3)

S3method("powers<-",hyper3)
S3method(Ops,hyper3)
S3method("sum",hyper3)
S3method("[", hyper3)
S3method("[<-", hyper3)
S3method("weights", hyper3)
S3method("pnames<-",hyper3)
